body{
    background-color: aliceblue;
    color:aliceblue;
}

#hoursForm{
    width: 60%;
    height: 50%;
}

nav.navbar.navbar-expand-lg > a.navbar-brand{
    color: aliceblue;
}
.navbar{
    background-color: darkslateblue;
    border-color: darkslateblue;
}
#options{
    margin-top: 110px;
    height: 50px;
}


#edit{
    margin-top: 8px;
    margin-left: 8px;
    width: 100px;
    height: 50px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


nav li a:visited {
    color: aliceblue;
}

nav li a:active {
    background-color: plum;
}

nav li a:hover {
    background-color: plum;
}

nav [aria-current=page] {
    background-color: plum;
}

dow {
    position: relative;
}

dow li {
    display: block;
    background-color: lightgray;
    color: black;
    text-align: left;
    padding: 20px 20px;
    text-decoration: none;
}

dow li:hover {
    background-color: gray;
}

.text-box-format {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    outline: 2px black;
    outline-color: black;
}

#text-box {
    position: relative;
    display: none;
    z-index: 1;
    width: 25%;
    height: 50%;
    background-color: white;
    outline: 2px black;
    outline-color: black;

}

#close {
    color: gray;
    font-weight: bold;
    font-size: 40px;
    display: block;
    float: right;
    margin-right: 10px;
}

#close:hover {
    color: royalblue;
}

#text-content {
    padding: 30px;
    text-align: center;
}

#title {
    font-size: 25px;
    font-weight: bold;
}
